@tailwind base;
@tailwind components;
@tailwind utilities;

.flipkart-bg {
  background: transparent linear-gradient(240deg, #007991 0%, #78ffd6 100%) 0%
    0% no-repeat padding-box;
}

.zomato-bg {
  background: transparent linear-gradient(240deg, #cb2d3e 0%, #ef473a 100%) 0%
    0% no-repeat padding-box;
}

.grey-bg {
  background: #eee;
}

.black-bg {
  background: #333333;
}
